{% extends 'main/base.html' %}
{% load static %}
{% block title %}Glavnaya{% endblock %}

{% block content %}

<div class="d-flex justify-content-center formik">


  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
<!--        {{ field.label_tag }}<br>-->
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
          </p>
      {% endfor %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radio" id="fiz" checked>
        <label class="form-check-label" for="fiz">
        Физ. лицо
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="radio" id="yur">
        <label class="form-check-label" for="yur">
        Юр. лицо
        </label>
    </div>

    <br>
    <input style="display:none" placeholder="ИНН" class="form-control" id="inn" type="text" name="inn" value="none">
      <br>

    {% if inn_status == "disabled" %}
        <p class="alert alert-danger">Ваш номер ИНН не прошла проверку</p>
    {% endif %}
    <button class="btn btn-primary" type="submit">Регистрация</button>
    <span>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></span>
  </form>
</div>
</div>


{% endblock %}